<div class="trams-list">
  <li *ngFor="let item of trams" style="list-style: none;">
    <div class="trams-card">

      <p class="divided">
        <span class="trams-time">{{item?.TimeTabledDateTime| date: "hh:mm:ss"}}</span>
        <span class="divider"></span>
        <span class="trams-time">{{item?.ExpectedDateTime| date: "hh:mm:ss"}}</span>
      </p>

      <div class="infowraber">
        <div class="group-left">
          <div class="flexContainer">
            <p class="secondary-text">Start Station:</p>
            <p class="info-header">{{item?.StopAreaName}}</p>
          </div>
          <div class="flexContainer">
            <p class="secondary-text">Journey Number:</p>
            <p class="info-header">{{item?.JourneyNumber}}</p>
          </div>
        </div>
        <div class="duration">
          <p class="secondary-text">Duration</p>
          <p class="duration-text">{{item?.DisplayTime}} </p>
        </div>
        <div class="group-right">

          <div class="flexContainer">
            <p class="secondary-text">Heading to:</p>
            <p class="info-header">{{item?.Destination}}</p>
          </div>

          <div class="flexContainer">
            <p class="secondary-text">Group Line:</p>
            <p class="info-header">{{item?.GroupOfLine}}</p>
          </div>
          
        </div>
      </div>
    </div>
  </li>
</div>